/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0 40px;
  background-color: #e2e4fb;

}

section.admin p{
  text-align: center;
  margin-top: 40px;
  font-size: 30px;
  color: blue;
}

table {
  width: 100%; 
  min-width: 600px; 
  border-collapse: collapse;
  margin-top: 40px;
}

th, td {
  border: 1px solid #000; 
  text-align: left;
  padding: 8px;
  background-color: white;
}

th {
  background-color: #f4f4f4; 
  color: blue;
}

